body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b0c4de;
}

header {
    background-color:#6495ed;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

div.quote {
    padding: 10px;
    margin: 10px;
    background-color:#e6e6fa;
    border-radius: 10px;
    box-shadow: 20px 20px 20px #888888;
}

div.quote blockquote {
    font-style:grave;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color:#483d8b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

div.quote cite {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 14px;
    color:	#b22222;
    margin: 0;
    font-weight: bold;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

input {
    display: block;
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #5f9ea0;
}
textarea {
    display: block;
    width: 50%;
    height: 80px;
    border: 1px solid #5f9ea0;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}
span {
    font-display: block;
    margin-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color:#4b0082;
    
}