body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b0c4de;
}

header {
    background-color:#6495ed;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

input {
    display: block;
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #5f9ea0;
}
textarea {
    display: block;
    width: 50%;
    height: 80px;
    border: 1px solid #5f9ea0;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}